:root {
    --color-white: #e2e2e2;
    --color-blackish: #1f1f1f;
    --color-blackish2: #2e2e2e;
    --color-primary: #1e90ff;
    --transition-4s: all 0.4s ease;
}

/* ********** BASIC RESET */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
}

[id] {
    scroll-margin-top: 4rem;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
    color: var(--color-white);
    background-color: var(--color-blackish);
    overflow-x: hidden;
}

/********* NAVBAR */
nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    line-height: 80px;
    -webkit-transition: var(--transition-4s);
    -o-transition: var(--transition-4s);
    transition: var(--transition-4s);
}

nav.active {
    background: rgba(0, 0, 0, .9);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
}

nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}

nav .navbar .icon {
    padding: 20px 0;
    cursor: pointer;
}

nav .navbar ul {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex; */
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 80px;
    right: -100%;
    -webkit-transition: var(--transition-4s);
    -o-transition: var(--transition-4s);
    transition: var(--transition-4s);
    background: rgba(0, 0, 0, .9);
    font-size: 1.2rem;
    z-index: 10;
}

nav .navbar ul.active {
    right: 0;
    display: flex;
    transition: var(--transition-4s);

}

nav .navbar ul li a {
    font-size: 1.2rem;
    -webkit-transition: var(--transition-4s);
    -o-transition: var(--transition-4s);
    transition: var(--transition-4s);
}

nav .navbar ul li a:hover {
    color: var(--color-primary);
    -webkit-transition: var(--transition-4s);
    -o-transition: var(--transition-4s);
    transition: var(--transition-4s);
}

nav h1 {
    font-size: 1.5rem;
}

/* ********* HEADER BACKGROUND */
.bg-header {
    position: relative;
    overflow: hidden;
    margin-top: -80px;
}

.bg-header::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
}

.bg-header .bg-header__video {
    position: absolute;
    z-index: -2;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    overflow: hidden;

}

@media (min-aspect-ratio:16/9) {
    .bg-header .bg-header__video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .bg-header .bg-header__video {
        width: auto;
        height: 100%;
    }
}

.counter {
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: 0;

    width: 100%;
    max-width: 1400px;
    padding: 2.5rem;
    z-index: 5;
}

/* ********* HEADER */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    max-width: 1600px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 1rem;
}

header h2 {
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.3;
}

header h2 span {
    color: var(--color-primary);
}

header a {
    padding: .8rem 2rem;
    margin: 2rem;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-size: 1.5rem;
    white-space: nowrap;
    line-height: 1.2;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

header a:hover {
    color: var(--color-white);
    border: 2px solid var(--color-white);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/********* SERVICE */
#service {
    padding: 4rem 0;
    background-color: var(--color-white);
    color: var(--color-blackish);
}

.section-header {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.service__card {
    padding: 2rem;
    margin: .5rem;
    min-width: 320px;
    max-width: 350px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.service__card .service__card--logo {
    margin: 0 auto;
    width: 120px;
    height: 120px;
}

.service__card .service__card--text {
    text-align: justify;
    padding: 1rem;
}

/********* ABOUT */
#about {
    padding: 4rem 0;
}

#about .section-wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.about__text {
    max-width: 800px;
    margin: auto 0;
    padding: 2rem;
}

/********* CONTACT */
#contact {
    padding: 4rem 0;
    background-color: var(--color-blackish2);
}

#contact .section-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.contact-details {
    font-size: 1.1rem;
    line-height: 1.8;
    margin: 2rem;
}

.contact-icon {
    position: relative;
    top: 3px;
    color: var(--color-primary);
    padding-right: 5px;
}

.contact-text {
    display: none;
}

#contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 3000px;
    max-width: 400px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 2rem;
}

#contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 2rem;
}

#contact form input,
textarea {
    padding: .5rem;
    margin: .5rem 0;
}

textarea::-webkit-input-placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea::-moz-placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea:-ms-input-placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea::-ms-input-placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contact form input,
textarea::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contact form textarea {
    height: 100px;
    resize: none;
}

#contact form p {
    position: relative;
    top: -4px;
    text-align: end;
    font-size: .6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contact form .button {
    width: 200px;
    margin: .5rem auto;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: unset;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: var(--transition-4s);
    -o-transition: var(--transition-4s);
    transition: var(--transition-4s);
}

#contact form .button:hover {
    border: 1px solid unset;
    color: var(--color-blackish2);
    background-color: var(--color-primary);

}

/********* copyright */
.copyright {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: var(--color-blackish);
}

.copyright p,
a {
    font-size: .9rem;
    color: var(--color-white);
}

.copyright p a svg {
    height: 20px;
    position: relative;
    top: 4px;
}

/* ********* TABLET */
@media screen and (min-width: 768px) {
    nav .navbar ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        position: static;
        min-height: 100%;
        height: 100%;
        width: auto;
        background: unset;
        -webkit-transition: unset;
        -o-transition: unset;
        transition: unset;
    }

    nav .navbar ul li {
        padding: 0 1rem;
        margin: 0 .5rem;
    }

    nav .navbar .icon {
        display: none;
    }

    header h2 {
        font-size: 3.1rem;
    }

    header a {
        padding: .8rem 3rem;
        font-size: 1.5rem;
    }

    .counter {
        font-size: 2rem;
    }

    .contact-text {
        display: inline-block;
        width: 120px;
    }
}

/* ********* DESKTOP */
@media screen and (min-width: 992px) {
    header h2 {
        font-size: 4rem;
    }

    header a {
        font-size: 2rem;
    }
}

/* ********* DESKTOP bigger */
@media screen and (min-width: 1400px) {
    header {
        padding: 0 5rem;
    }

    header h2 {
        font-size: 4rem;
    }

    #service,
    #about,
    #contact {
        padding: 8rem 0;
    }
}